<ion-view title="Login" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="login-form1" class="list">
      <ion-list id="login-list4">
        <label class="item item-input" id="login-input1">
          <span class="input-label">Username</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="login-input2">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="tabsController.cameraTabDefaultPage" id="login-button1" class="button button-stable  button-block">Log in</a>
    </form>
    <a ui-sref="signup" id="login-button5" class="button button-balanced  button-block">Signup</a>
  </ion-content>
</ion-view>